@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family:"Poppins", sans-serif;
  font-size: 14px;
}

body{
  background-image:url(softlavender2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  position: absolute;
  top: 20px;
  right: 30px;

}
nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 20px;
  transition: color 0.3s ease;
}
nav a:hover {
  color: #ff4081;
}
nav a:hover,
nav a:active{
  border-top: #ff4081;
}

.logo{
font-size: 25px;
color: palevioletred;
text-decoration: none;
font-weight: 600;
}

.intro{
  font-style: italic;
  align-content: center;
  
}



.childhood-sections{
  display:flex;
  gap: 20px;
  margin-top: 20px;
  align-items: flex-start;
}

.childhood-card{
  flex: 1;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(134, 42, 106, 0.2);
  transition: border 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s,box-shadow 0.3s;
}

.childhood-card img{
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin: 10px 0;
}

.childhood-card.active{
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0,0,0 0.15);
  border: 2px solid #2c3e50;
}

.caption {
  font-size: 13px;
  font-style: italic;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .childhood-sections{
    flex-direction: column;
}
}