@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family:"Poppins", sans-serif;
  font-size: 14px;
}

body{
  background-image:url(gradientpurple.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  position: absolute;
  top: 20px;
  right: 30px;

}
nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 20px;
  transition: color 0.3s ease;
}
nav a:hover {
  color: #ff4081;
}
nav a:hover,
nav a:active{
  border-top: #ff4081;
}

.logo{
font-size: 25px;
color: palevioletred;
text-decoration: none;
font-weight: 600;
}


.section-container {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(134, 42, 106, 0.2);
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.social-icons{
margin-left: 20px;
}
.social-icons a{
  display: inline-flex;
  padding: 8px;
  border:2px solid white;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin: 0 8px;
  transition: .5s;
}

.social-icons a{
  background: white;
  box-shadow: 0 0 10px white;
  color:#333;
}
