@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family:"Poppins", sans-serif;
  font-size: 14px;
}
body{
  background-image:url(softlavender2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home-center {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

nav {
  position: absolute;
  top: 20px;
  right: 30px;

}
nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 20px;
  transition: color 0.3s ease;
}
nav a:hover {
  color: #ff4081;
}



.section-container {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(134, 42, 106, 0.2);
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.section-container:hover {
  border: 2px solid #862a6a;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 6px 18px rgba(134, 42, 106, 0.4);
  transform: scale(1.02);
}

.wrapper {
  width: 80%;
  max-width: 800px;
  margin: auto;
  position: relative;
  top: 50%;
}

